<div class="prose mx-auto">
  <h1>Rename License</h1>

  <%= form_with model: @license do |form| %>
    <div class="mb-4">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, autofocus: true %>
    </div>

    <div class="flex gap-2 items-center">
      <%= form.submit "Save changes", class: "btn btn-secondary" %>
      <%= link_to "Cancel", @license %>
    </div>
  <% end %>

  <hr />

  <h2>Archive License</h2>
  <p>⚠️ You will lose all access to this license after archiving.</p>
  <%= button_to "Archive", license_archive_path(@license), class: "btn btn-secondary", data: {turbo_confirm: "Are you sure?"} %>
</div>
